{% extends "base.html" %}

{% block css%}
{% endblock css%}

{% block javascript%}
    <script>
        $(window).load(function(){
            {% if request.POST %}
                console.log("inside post");
                $("#inputname").val('{{request.POST.name}}');
                $("#inputcity").val('{{request.POST.city}}');
                $("#inputaddress").val('{{request.POST.address}}');
                $("#inputstate").val('{{request.POST.state}}');
                $("#inputcountry").val('{{request.POST.country}}');
            {% endif %}

            {% if errors %}
                $('#myModal').modal('show');
            {% endif %}

            $("#edit_btn").click(function() {
                var group_id = $("#edit_btn").val();
                console.log("group id is " + group_id);
                $("#inputname").val($("#" + group_id).find('td').eq(0).html());
                $("#inputcity").val($("#" + group_id).find('td').eq(1).html());
                $("#inputstate").val($("#" + group_id).find('td').eq(2).html());
                $("#inputcountry").val($("#" + group_id).find('td').eq(3).html());
                $("#inputaddress").val($("#" + group_id).find('td').eq(4).html());
                $('#myModal').modal('show');
            });

            $("#remove_btn").click(function(){
                var group_id = $("#remove_btn").val();
                console.log("group id is " + group_id);
                $.post("/api/v1/group/delete/",{"group_id": group_id, "csrfmiddlewaretoken": '{{csrf_token}}'}, function(data, status){
                    alert("Successfully removed the group");
                    $('#' + group_id).remove();
                })

                .fail(function(){
                   alert("Error occurred while deleting group");
                });

            });
        });
    </script>

{% endblock javascript%}

{% block content %}
 <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Classs Info
                            <small>Subheading</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/dashboard/">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Classs
                            </li>
                        </ol>
                    </div>
                </div>
                {% if message %}
                    <div class="alert alert-success">
                     {{message}}
                    </div>
                {% endif %}
                {{request.POST.name}}
                <div class="row">
                            <div class="col-lg-8">
                                <ul class="nav nav-tabs">
                                    <li role="presentation" class="active"><a href="#">Classs List</a></li>
                                    <li role="presentation"><a href="#">Profile</a></li>
                                    <li role="presentation"><a href="#">Messages</a></li>
                                </ul>
                            </div>
                            <div class=".col-lg-4">
                                <!--<button class="btn" id="add_Class" style="margin-left: 15%;color: #FFF;background-color: #1A56A0;width: 17%;">Add Class</button>-->
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-md" style="margin-left: 15%; width:17%;" data-toggle="modal" data-target="#myModal">Add Class
                                </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Class Info</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
            {% csrf_token %}
            {% if errors %}
                <div class="alert alert-danger">
                    {% for error in errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputName" placeholder="Name">
                </div>
            </div>

            <div class="form-group">
                <label for="organization" class="col-sm-2 control-label">Organization</label>
                <div class="col-sm-10">
                    <select class="form-control" id="inputOrganization">
                        {% for organization in organizations %}
                            <option value="{{organization.id}}">{{organization.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Members</label>
                <div class="col-sm-10">
                    <select multiple class="form-control" id="inputMembers">
                        {% for member in members %}
                            <option value="{{member.id}}">{{member.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Owner</label>
                <div class="col-sm-10">
                    <select multiple class="form-control" id="inputOwners">
                        {% for owner in owners %}
                            <option value="{{owner.id}}">{{owner.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div><!-- Modal --></div>
                        </div>
                        <div class="row">
                        <div class="table-responsive col">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Organization Name</th>
                                        <th>Members</th>
                                        <th>Owner</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for group in groups %}
                                        <tr id='{{group.id}}'>
                                        <td>{{group.name}}</td>
                                        <td>{{group.organization.name}}</td>
                                        <td>{{group.members}}</td>
                                        <td>{{group.owner}}</td>

                                            <td><button type="button" style="width:45%;" id="edit_btn" value='{{group.id}}' class="btn btn-success">Edit</button>
                                            <button type="button" style="width:45%;" id="remove_btn" value='{{group.id}}' class="btn btn-info">Remove</button></td>
                                        </tr>
                                    {% endfor %}
                                    <!--<tr>
                                        <td>/index.html</td>
                                        <td>1265</td>
                                        <td>32.3%</td>
                                        <td>$321.33</td>
                                    </tr>
                                    <tr>
                                        <td>/about.html</td>
                                        <td>261</td>
                                        <td>33.3%</td>
                                        <td>$234.12</td>
                                    </tr>
                                    <tr>
                                        <td>/sales.html</td>
                                        <td>665</td>
                                        <td>21.3%</td>
                                        <td>$16.34</td>
                                    </tr>
                                    <tr>
                                        <td>/blog.html</td>
                                        <td>9516</td>
                                        <td>89.3%</td>
                                        <td>$1644.43</td>
                                    </tr>
                                    <tr>
                                        <td>/404.html</td>
                                        <td>23</td>
                                        <td>34.3%</td>
                                        <td>$23.52</td>
                                    </tr>
                                    <tr>
                                        <td>/services.html</td>
                                        <td>421</td>
                                        <td>60.3%</td>
                                        <td>$724.32</td>
                                    </tr>
                                    <tr>
                                        <td>/blog/post.html</td>
                                        <td>1233</td>
                                        <td>93.2%</td>
                                        <td>$126.34</td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                   </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock content %}