{% extends "base.html" %}

{% block css%}
{% endblock css%}

{% block javascript%}
    <script>
        $(window).load(function(){
            {% if request.POST %}
                console.log("inside post");
                $("#inputname").val('{{request.POST.name}}');
                {% if request.POST.post_type == "post" %}
                    $("#modal_form").attr('action', '/group/');
                {% else %}
                    $("#modal_form").attr('action', '/group/' + '{{group.id}}' + '/');
                {% endif %}
            {% endif %}

            {% if errors %}
                $('#myModal').modal('show');
            {% endif %}

            $(".edit_btn").click(function() {
                var group_id = $(this).attr("value");
                console.log("Group id is " + group_id);
                $("#inputname").val($("#" + group_id).find('td').eq(0).html());
                $("#modal_form").attr('action', '/group/' + group_id + '/');
                $("#errors_div").val('');
                $("#myModalLabel").text("Edit Group");
                $('#myModal').modal('show');
            });

            $(".remove_btn").click(function(){
                var group_id = $(this).attr("value");
                console.log("Group id is " + group_id);
                $.post("/api/v1/group/delete/",{"group_id": group_id, "csrfmiddlewaretoken": '{{csrf_token}}'}, function(data, status){
                    alert("Successfully removed the group");
                    $('#' + group_id).remove();
                })

                .fail(function(){
                   alert("Error occurred while deleting group");
                });

            });

            $("#add_group").click(function(){
                $("#modal_form").attr('action', '/group/');
                $("#inputname").val('');
                $("#errors_div").html('');
                $("#myModalLabel").text("Add group");
                $('#myModal').modal('show');
            });
        });
    </script>

{% endblock javascript%}

{% block content %}
 <div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Classs Info
                            <small>Subheading</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/dashboard/">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Classs
                            </li>
                        </ol>
                    </div>
                </div>
                {% if message %}
                    <div class="alert alert-success">
                     {{message}}
                    </div>
                {% endif %}
                <div class="row">
                            <div class="col-lg-8">
                                <ul class="nav nav-tabs">
                                    <li role="presentation" class="active"><a href="#">Classs List</a></li>
                                    <li role="presentation"><a href="#">Profile</a></li>
                                    <li role="presentation"><a href="#">Messages</a></li>
                                </ul>
                            </div>
                            <div class=".col-lg-4">
                                <!--<button class="btn" id="add_Class" style="margin-left: 15%;color: #FFF;background-color: #1A56A0;width: 17%;">Add Class</button>-->
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-md" style="margin-left: 15%; width:17%;" data-toggle="modal" data-target="#myModal">Add Class
                                </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Class Info</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            <div id="errors_div">
                {% if errors %}
                    <div class="alert alert-danger">
                        {% for error in errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="inputName" placeholder="Name">
                </div>
            </div>

            <div class="form-group">
                <label for="group" class="col-sm-2 control-label">Organization</label>
                <div class="col-sm-10">
                    <select class="form-control" name="organization_id" id="inputgroup">
                        {% for organization in organizations %}
                            <option value="{{organization.id}}">{{organization.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Members</label>
                <div class="col-sm-10">
                    <select multiple class="form-control" name="member_id" id="inputMembers">
                        {% for member in members %}
                            <option value="{{member.id}}">{{member.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Owner</label>
                <div class="col-sm-10">
                    <select multiple class="form-control" name="owner_id" id="inputOwners">
                        {% for owner in owners %}
                            <option value="{{owner.id}}">{{owner.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div><!-- Modal --></div>
                        </div>
                        <div class="row">
                        <div class="table-responsive col">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Organization Name</th>
                                        <th>Members</th>
                                        <th>Owner</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for group in groups %}
                                        <tr id='{{group.id}}'>
                                        <td>{{group.name}}</td>
                                        <td>{{group.organization.name}}</td>
                                        <td>{{group.members}}</td>
                                        <td>{{group.owner}}</td>

                                            <td><button type="button" style="width:45%;"  value='{{group.id}}' class="btn btn-success edit_btn">Edit</button>
                                            <button type="button" style="width:45%;"  value='{{group.id}}' class="btn btn-info remove_btn">Remove</button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                   </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock content %}