<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper" style="background-image:url(/static/images/slack_img.jpg); background-size: cover;">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Schoolchap</h3>
              <nav style="float:right;">
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                    <li><a href="#">Sign in</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover" style="margin-left: 15%; margin-right: 15%; margin-top: 15%;width: 70%;">
            <h1 class="cover-heading">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
              <div style="background:rgba(174,180,180,.5); display:inline-block; width: 100%; border-radius: 8px; padding-bottom:20px;">
                  <h4 class="form-control-static" style="width:50%; height:40px; float:left;">Schoolchap is free to use as long as you want to use with limited number of people
                          </h4>
                  <form class="form-inline" style="margin-top:20px;">
                            <div class="form-group">
                                <input type="text" placeholder="Email address" class="form-control" style="height:40px;">
                            </div>

                            <button type="submit" class="btn btn-default" style="height:40px; width:28%; color:#FFF; background:#56B68B; border: 0px;">Sign up for free</button>
                        </form>
                  <!--<div style="width:50%;float:left;">
                      <p class="form-control-static">Schoolchap is free to use as long as you want to use with limited number of people
                          </p>
                  </div>
                  <div style="width:50%;float:right;">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" placeholder="Email address">
                            </div>

                            <button type="submit" class="btn btn-default">Sign up for free</button>
                        </form>
                  </div>-->
              </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>