<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>SchoolChap | Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/static/website/css/air.global.responsive.0.5.9.min.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="/static/website/css/air.components.0.5.9.min.css" type="text/css" media="all" />
        <link href="/static/website/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/website/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/website/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/website/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/website/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/website/css/theme.css" rel="stylesheet" type="text/css" media="all"/>

        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="/static/website/css/ie9.css" />
		<![endif]-->
        <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>-->
        <link href="/static/website/css/google_fonts.css" rel="stylesheet" type="text/css"/>
        <script src="/static/website/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>

        <div class="nav-container">

			<nav class="top-bar overlay-bar offscreen-menu">
				<div class="container">

					<div class="row nav-menu clearfix">
						<div class="col-sm-2 col-xs-6">
							<a href="index.html">
								<img class="logo logo-light" alt="Logo" src="/static/website/images/logo-light.png">
								<img class="logo logo-dark" alt="Logo" src="/static/website/images/logo-dark.png">
							</a>
						</div>

						<div class="col-sm-2 col-xs-6 text-right pull-right">
                            <!--<a href="/new_login/" class="btn btn-primary login-button btn-xs style="width:50%;">Login</a>-->
							<div class="offscreen-toggle">
								<i class="icon icon_menu text-white"></i>
							</div>
						</div>
					</div><!--end of row-->

					<div class="row">
						<div class="col-sm-12">
							<hr class="no-margin">
						</div>
					</div><!--end of row-->

				</div><!--end of container-->

				<div class="offscreen-container">
					<img alt="logo" class="logo" src="/static/website/images/logo-light.png">
					<ul class="menu">
						<li><a href="#home" class="inner-link" target="default">Home</a></li>
						<li><a href="#services" class="inner-link" target="default">Services</a></li>
						<li><a href="#about" class="inner-link" target="default">About</a></li>
						<li><a href="#work" class="inner-link" target="default">Portfolio</a></li>
						<li><a href="#testimonials" class="inner-link" target="default">testimonials</a></li><li><a href="#contact" class="inner-link" target="default">contact</a></li>
					</ul>
					<ul class="social-icons">
						<li>
							<a href="#">
								<i class="icon social_twitter"></i>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="icon social_facebook"></i>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="icon social_instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</nav>


		</div>

				

		<div class="main-container">
			<section class="no-pad login-page fullscreen-element">
			
				<div class="background-image-holder image-blur">
					<!--<img class="background-image" alt="Poster Image For Mobiles" src="/static/website/images/hero6.jpg">-->
                    <img class="background-image" alt="Poster Image For Mobiles" src="/static/website/images/exam_room.jpg">
				</div>
			
				<!--<div class="container align-vertical">
					<div class="row">
						<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
							<h1 class="text-white">Sign Up</h1>
							<div class="photo-form-wrapper clearfix">
								<form>
                                    <select class="form-control photo-form-wrapper" name="user_type" id="user_type" value="Select User Type">
                                        <option value="teacher">Teacher</option>
                                        <option value="teacher">Parent</option>
                                    </select>
									<input class="form-email" type="text" placeholder="Email Address">
									<input class="form-password" type="password" placeholder="Password">
									<input class="login-btn btn-filled" type="submit" value="Login">
								</form>
							</div>--><!--end of photo form wrapper-->
							<!--<a href="#" class="text-white">Create an account ➞</a><br>
							<a href="#" class="text-white">I've forgotten my password</a>
						</div>
					</div>--><!--end of row-->
				<!--</div>--><!--end of container-->
                <div class="container align-vertical content" style="margin-top:10%;">
                <!--<div class="container user-type-page" ng-controller="userTypePageController">-->
        <div class="row m-lg-top m-xlg-bottom" style="color:#FFF;">
            <div class="col-md-12 m-lg-bottom">
                <hgroup class="text-center">
                    <h1 class="m-xs-top-bottom" style="color:#FFF;">Let's get started!</h1>
                    <h1 class="m-xs-top-bottom" style="color:#FFF;">First, tell us what you're looking for.</h1>
                </hgroup>
            </div>

            <div class="m-lg-bottom hidden-xs">&nbsp;</div>
            <div class="p-md-bottom visible-xs">&nbsp;</div>

            <div class="col-md-12 text-center" style="margin-bottom:30px; padding-bottom:30px;">
                <div class="col-md-5">
                    <div class="text-muted" style="color:#FFF;">
                        <div><i class="glyphicon-xlg air-icon-client"></i></div>
                        <div class="o-user-type-selection" style="color:#FFF;">I'm Teacher</div>
                    </div>
                    <p class="fs-sm m-lg-bottom" style="color:#FFF;">
                        Teacher can monitor and
                        <br/>
                        manage students.
                    </p>
                    <a class="btn btn-primary text-capitalize m-0" href="/new_signup/teacher">Sign Up as Teacher</a>
                </div>

                <div class="col-md-2 o-or-divider">OR</div>

                <div class="col-md-5">
                    <div class="text-muted" style="color:#FFF;">
                        <div><i class="glyphicon-xlg air-icon-client"></i></div>
                        <div class="o-user-type-selection" style="color:#FFF;">I'm Parent</div>
                    </div>
                    <p class="fs-sm m-lg-bottom" style="color:#FFF;">
                        Parent can monitor their child
                        <br/>
                        performance.
                    </p>
                    <a class="btn btn-primary text-capitalize m-0" href="/new_signup/parent">Sign Up as Parent</a>
                </div>
            </div>
        </div>
    </div>
			</section>
		</div>
		<div class="footer-container">


			<footer class="social bg-secondary-1">

				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">Get In Touch</h1>
							<a href="#" class="text-white"><strong>care@schoolchap.com</strong></a><br>
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon social_dribbble"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon social_tumblr"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon social_pinterest"></i>
									</a>
								</li>
							</ul><br>
							<span class="sub">© Copright 2015 <a href="#">SchoolChap</a> - All Rights Reserved</span>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->

			</footer>
		</div>
				
		<script src="/static/website/js/jquery.min.js"></script>
        <script src="/static/website/js/jquery.plugin.min.js"></script>
        <script src="/static/website/js/bootstrap.min.js"></script>
        <script src="/static/website/js/jquery.flexslider-min.js"></script>
        <script src="/static/website/js/smooth-scroll.min.js"></script>
        <script src="/static/website/js/skrollr.min.js"></script>
        <script src="/static/website/js/spectragram.min.js"></script>
        <script src="/static/website/js/scrollReveal.min.js"></script>
        <script src="/static/website/js/isotope.min.js"></script>
        <script src="/static/website/js/twitterFetcher_v10_min.js"></script>
        <script src="/static/website/js/lightbox.min.js"></script>
        <script src="/static/website/js/jquery.countdown.min.js"></script>
        <script src="/static/website/js/scripts.js"></script>
    </body>
</html>
				