{% extends "base.html" %}

{% block css%}
{% endblock css%}

{% block javascript%}
    <script>
        $(window).load(function(){
            {% if request.POST %}
                console.log("inside post");
                $("#inputname").val('{{request.POST.name}}');
                $("#inputmsisdn").val('{{request.POST.msisdn}}');
                $("#inputemail").val('{{request.POST.email}}');
                $("#inputusername").val('{{request.POST.username}}');
                $("#inputpassword").val('{{request.POST.password}}');
                {% if request.POST.post_type == "post" %}
                    $("#modal_form").attr('action', '/manageuser/parent/');
                {% else %}
                    $("#modal_form").attr('action', '/manageuser/parent/' + '{{parent.id}}' + '/');
                {% endif %}
            {% endif %}

            {% if errors %}
                $('#myModal').modal('show');
            {% endif %}

            function set_selected_group_option(list_data){
                for (i = 0; i < list_data.length; i++) {
                     $('#inputstudent option[value=' + list_data[i] + ']').attr('selected', true);
                };
            }

            $(".edit_btn").click(function() {
                var parent_id = $(this).attr("value");
                console.log("parent id is " + parent_id);
                $("#inputname").val($("#" + parent_id).find('td').eq(0).html());
                $("#inputmsisdn").val($("#" + parent_id).find('td').eq(1).html());
                $("#inputemail").val($("#" + parent_id).find('td').eq(2).html());
                $("#inputusername").val($("#" + parent_id).find('td').eq(5).html());
                $("#modal_form").attr('action', '/manageuser/parent/' + parent_id + '/');
                $("option:selected").removeAttr("selected");
                $('select').val('');
                set_selected_group_option(parent_students_map[parent_id]);
                $("#inputorganization").val(parent_organization_map[parent_id]);
                $("#error_messages").val('');
                $("#myModalLabel").text("Edit Parent");
                $('#myModal').modal('show');
            });

            $(".remove_btn").click(function(){
                var parent_id = $(this).attr("value");
                console.log("parent id is " + parent_id);
                $.post("/api/v1/parent/delete/",{"parent_id": parent_id, "csrfmiddlewaretoken": '{{csrf_token}}'}, function(data, status){
                    alert("Successfully removed the parent");
                    $('#' + parent_id).remove();
                })

                .fail(function(){
                   alert("Error occurred while deleting parent");
                });

            });

            $("#add_parent").click(function(){
                $("#modal_form").attr('action', '/manageuser/parent/');
                $("#inputname").val('');
                $("#inputemail").val('');
                $("#inputmsisdn").val('');
                $("#inputusername").val('');
                $("#inputpassword").val('');
                $("option:selected").removeAttr("selected");
                $('select').val('');
                $("#abc").html('');
                $("#myModalLabel").text("Add Parent");
                $('#myModal').modal('show');
            });

            function get_html_parent_data(list_data){
                var htm = "";
                for (i = 0; i < list_data.length; i++) {
                    htm += "<a class='btn btn-info btn-sm org-show' role='button' style='margin:3px 3px 3px 3px;'>" + list_data[i] + "</a>";
                };
                return htm;
            }

            $(".org-show").click(function(){
                console.log("inside org show");
                var organization_id = $(this).attr("value");
                console.log(organization_id);
                console.log(organization_data[organization_id]);
                console.log(organization_data[organization_id]['name']);
                $("#inputorganizationname").val(organization_data[organization_id]['name']);
                $("#inputcity").val(organization_data[organization_id]['city']);
                $("#inputaddress").val(organization_data[organization_id]['address']);
                $("#inputstate").val(organization_data[organization_id]['state']);
                $("#inputcountry").val(organization_data[organization_id]['country']);
                $('#myOrganizationModal').modal('show');
            });

            $(".student-show").click(function(){
                console.log(" inside student show");
                var student_id = $(this).attr("value");
                console.log(student_data[student_id]);
                console.log(student_data);
                $("#student_name").val(student_data[student_id]['name']);
                $("#organization_name").val(student_data[student_id]['organization']);
                $("#group_name").val(student_data[student_id]['group']);
                $("#modal_parent_data").html(get_html_parent_data(student_data[student_id]['parents']));
                $('#myStudentModal').modal('show');
            });

            var organization_data = {};
            var student_data = {};
            var parent_students_map={};
            var parent_organization_map={};
            {% for parent, students in parents %}
                parent_organization_map['{{parent.id}}']=[];
                parent_students_map['{{parent.id}}']=[];
                {% for organization in parent.organization %}
                    parent_organization_map['{{parent.id}}'].push('{{organization.id}}');
                    organization_data['{{organization.id}}'] = {};
                    organization_data['{{organization.id}}']['name'] = '{{organization.name}}';
                    organization_data['{{organization.id}}']['state'] = '{{organization.state}}';
                    organization_data['{{organization.id}}']['country'] = '{{organization.country}}';
                    organization_data['{{organization.id}}']['address'] = '{{organization.address}}';
                    organization_data['{{organization.id}}']['city'] = '{{organization.city}}';
                {% endfor %}
                {% for student in students %}
                    parent_students_map['{{parent.id}}'].push('{{student.id}}');
                    student_data['{{student.id}}'] = {};
                    student_data['{{student.id}}']['name'] = '{{student.first_name}}';
                    student_data['{{student.id}}']['group'] = '{{student.group.name}}';
                    student_data['{{student.id}}']['organization'] = '{{student.group.organization.name}}';
                    student_data['{{student.id}}']['parents']=[];
                    {% for parent in student.parents %}
                        student_data['{{student.id}}']['parents'].push('{{parent.first_name}}');
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            console.log("organization data" + organization_data);
            console.log("group data" + student_data);
        });
    </script>

{% endblock javascript%}

{% block content %}
 <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Parents Info
                            <small>Subheading</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Parents
                            </li>
                        </ol>
                    </div>
                </div>
                {% if message %}
                    <div class="alert alert-success">
                     {{message}}
                    </div>
                {% endif %}
                <div class="row">
                            <div class="col-lg-8">
                                <ul class="nav nav-tabs">
                                    <li role="presentation" class="active"><a href="#">Parents List</a></li>
                                    <li role="presentation"><a href="#">Profile</a></li>
                                    <li role="presentation"><a href="#">Messages</a></li>
                                </ul>
                            </div>
                            <div class=".col-lg-4">
                                <!--<button class="btn" id="add_parent" style="margin-left: 15%;color: #FFF;background-color: #1A56A0;width: 17%;">Add parent</button>-->
                                <!-- Button trigger modal -->
                                <!--<button type="button" id="add_parent" class="btn btn-primary btn-md" style="margin-left: 15%; width:17%;" data-toggle="modal" data-target="#myModal">Add parent
                                </button>-->
                                <button type="button" id="add_parent" class="btn btn-primary btn-md" style="margin-left: 15%; width:17%;">Add parent
                                </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header add-bg-color">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title white-heading" id="myModalLabel">Add Parent Info</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="modal_form" method="post">
            {% csrf_token %}
            <div id="abc">
            {% if errors %}
                <div id="error_messages"class="alert alert-danger">
                    {% for error in errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="inputname" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Msisdn</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputmsisdn" name="msisdn" placeholder="Msisdn">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputemail" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-2 control-label">Organization</label>
                <div class="col-sm-10">
                    <select class="form-control" name="organization_id" id="inputorganization">
                        {% for organization in organizations %}
                            <option value="{{organization.id}}">{{organization.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Students</label>
                <div class="col-sm-10">
                    <select multiple class="form-control" name="student_id[]" id="inputstudent">
                        {% for student in students %}
                            <option value="{{student.id}}">{{student.first_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="username" class="form-control" name="username" id="inputusername" placeholder="Username">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="inputpassword" placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div><!-- Modal -->

<!-- Student Modal -->
<div class="modal fade" id="myStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header add-bg-color">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title white-heading" id="myModalLabel">Student Info</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="student_name" class="form-control" id="student_name" placeholder="Name" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Organization</label>
                <div class="col-sm-10">
                    <input type="text" name="organization_name" class="form-control" id="organization_name" placeholder="Organization" readonly>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Group Name</label>
                <div class="col-sm-10">
                    <input type="text" name="group_name" class="form-control" id="group_name" placeholder="Group" readonly>
                </div>
            </div>


            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Parents</label>
                <div class="col-sm-10" id="modal_parent_data">
                    <input type="text" name="student_name" class="form-control" id="member_name" placeholder="Parents" readonly>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- Student Modal -->

<!-- Organization Modal -->
<div class="modal fade" id="myOrganizationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header add-bg-color">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title white-heading" id="myOrganizationLabel">Organization Info</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="modal_form" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="inputorganizationname" placeholder="Name" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">City</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputcity" name="city" placeholder="City"readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">State</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputstate" name="state" placeholder="State" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="address" id="inputaddress" placeholder="Address" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Country</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="country" id="inputcountry" placeholder="Country" readonly>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- Organization Modal -->



                            </div>
                        </div>
                        <div class="row">
                        <div class="table-responsive col">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Msisdn</th>
                                        <th>Email</th>
                                        <th>Organization</th>
                                        <th>Student</th>
                                        <th>Username</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for parent, students in parents %}
                                        <tr id='{{parent.id}}'>
                                        <td>{{parent.first_name}}</td>
                                        <td>{{parent.msisdn}}</td>
                                        <td>{{parent.email}}</td>
                                        <td>
                                            {% for organization in parent.organization %}
                                                <a class="btn btn-info btn-sm org-show" value='{{organization.id}}' role="button">{{organization.name}}</a>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for student in students %}
                                                <a class="btn btn-info btn-sm student-show" value='{{student.id}}' role="button">{{student.first_name}}</a>
                                            {% endfor %}
                                        </td>
                                        <td>{{parent.username}}</td>
                                            <td><button type="button" style="width:45%;" id="edit_btn" value='{{parent.id}}' class="btn btn-success edit_btn">Edit</button>
                                            <!--<button type="button" style="width:45%;" id="remove_btn" value='{{parent.id}}' class="btn btn-danger remove_btn">Remove</button></td>-->
                                            <a class="btn btn-danger" href="/manageuser/parent/delete/{{parent.id}}/">Remove</a></td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                   </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock content %}