{% extends "base.html" %}

{% block css%}
{% endblock css%}

{% block javascript%}
        <script>
        $(window).load(function(){
            {% if request.POST %}
                $("#firstnamemodal").val('{{request.POST.first_name_modal}}');
                $("#lastnamemodal").val('{{request.POST.last_name_modal}}');
                $("#rollnomodal").val('{{request.POST.roll_no_modal}}');
                $("#classvaluesmodal").val('{{request.POST.cflass_value_modal}}');
                $("#classvalues option").each(function()
                {
                    var option = $('<option />');
                    option.attr('value', this.value).text(this.label);
                    $('#classvaluesmodal').append(option);
                });
                $("#modal_form").attr('action', '/student/');

                {% if request.POST.post_type == "post" %}
                    $("#modal_form").attr('action', '/student/');
                {% else %}
                    $("#modal_form").attr('action', '/student/' + '{{student.id}}' + '/');
                {% endif %}


            {% endif %}

            {% if errors %}
                $('#myModal').modal('show');
            {% endif %}

            $(".edit_btn").click(function() {
                var student_id = $(this).attr("value");
                console.log("Student id is " + student_id);
                $('#classvaluesmodal').find('option').remove().end()
                $("#classvalues option").each(function()
                {
                    var option = $('<option />');
                    option.attr('value', this.value).text(this.label);
                    $('#classvaluesmodal').append(option);
                });
                $("#firstnamemodal").val($("#" + student_id).find('td').eq(0).html());
                $("#lastnamemodal").val($("#" + student_id).find('td').eq(1).html());
                $("#rollnomodal").val($("#" + student_id).find('td').eq(2).html());
                var s=$("#" + student_id).find('td').eq(3).attr('id')
                alert(s)
                $("#classvaluesmodal").val(s);
                $("#modal_form").attr('action', '/student/' + student_id + '/');
                $("#error_messages").val('');
                $("#myModalLabel").text("Edit Student");
                $('#myModal').modal('show');

            });

            $("#add_student").click(function(){
                console.log("Add student");
                $("#modal_form").attr('action', '/student/');

                $("#firstnamemodal").val('');
                $("#lastnamemodal").val('');
                $("#rollnomodal").val('');
                $('#classvaluesmodal').find('option').remove().end()
                $("#classvalues option").each(function()
                {
                    var option = $('<option />');
                    option.attr('value', this.value).text(this.label);
                    $('#classvaluesmodal').append(option);
                });
                $("#abc").html('');
                $("#myModalLabel").text("Add Student");
                $('#myModal').modal('show');
            });

            });
        </script>

{% endblock javascript%}

{% block content %}
 <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Students Info
                            <small>Subheading</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Students
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                   <form class="form-inline">
                        <div class="form-group">
                            <label  for="firstname">First name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="eg: Raju">
                        </div>
                       <div class="form-group">
                            <label  for="lastname">Last name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="eg: Rastogi">
                        </div>
                        <div class="form-group">
                            <label  for="rollno">Roll No</label>
                            <input type="text" class="form-control" id="rollno" placeholder="eg: 2341">
                        </div>
                        <div class="form-group">
                            <label for="classvalues">Class</label>
                            <select class="form-control" id="classvalues">
                                {% for group in groups %}
                                    <option value={{group.id}}>{{group.name}}</option>
                                {% endfor %}
                            </select>
                         </div>
                          <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>

                <div class="row">
                            <div class="col-lg-8">
                                <ul class="nav nav-tabs">
                                    <li role="presentation" class="active"><a href="#">Students List</a></li>
                                    <li role="presentation"><a href="#">Profile</a></li>
                                    <li role="presentation"><a href="#">Messages</a></li>
                                </ul>
                            </div>
                            <div class=".col-lg-4">
                                <!--<button class="btn" id="add_student" style="margin-left: 15%;color: #FFF;background-color: #1A56A0;width: 17%;">Add Student</button>-->
                                <!-- Button trigger modal -->
                                <button type="button" id="add_student" class="btn btn-primary btn-md" style="margin-left: 15%; width:17%;">Add Student
                                </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Student Info</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="modal_form" method="post">
            {% csrf_token %}
            <div id="abc">
            {% if errors %}
                <div id="error_messages"class="alert alert-danger">
                    {% for error in errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            <div class="form-group">
                <label for="firstnamemodal" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstnamemodal" name="first_name_modal" placeholder="eg: Raju">
                </div>
            </div>
            <div class="form-group">
                <label for="lastnamemodal" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastnamemodal" name="last_name_modal" placeholder="eg: Rastogi">
                </div>
            </div>
            <div class="form-group">
                <label for="rollnomodal" class="col-sm-2 control-label">Roll No</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="rollnomodal" name="roll_no_modal" placeholder="eg: 2589">
                </div>
            </div>
            <div class="form-group">
                <label for="classvaluesmodal" class="col-sm-2 control-label">Class</label>
                <div class="col-sm-10">
                    <select class="form-control" id="classvaluesmodal" name="class_value_modal">
                            </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div><!-- Modal --></div>
                        </div>
                        <div class="row">
                        <div class="table-responsive col">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Roll No</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Class</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                        <tr id='{{student.id}}'>
                                        <td>{{student.first_name}}</td>
                                        <td>{{student.last_name}}</td>
                                        <td>{{student.roll_no}}</td>
                                        <td id="{{student.group.id}}">{{student.group.name}}</td>

                                            <td><button type="button" style="width:45%;"  id="edit_btn" value='{{student.id}}' class="btn btn-success edit_btn">Edit</button>
                                            <button type="button" style="width:45%;" id="remove_btn" value='{{student.id}}' class="btn btn-info remove_btn">Remove</button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                   </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock content %}