{% extends "base.html" %}

{% block css%}
{% endblock css%}

{% block javascript%}
        <script>
        $(window).load(function(){
            {% if request.POST %}
            {% endif %}

            $(".edit_btn").click(function() {
                var organization_id = $(this).attr("value");
                console.log("Organization id is " + organization_id);
                $("#inputname").val($("#" + organization_id).find('td').eq(0).html());
                $("#inputcity").val($("#" + organization_id).find('td').eq(1).html());
                $("#inputstate").val($("#" + organization_id).find('td').eq(2).html());
                $("#inputcountry").val($("#" + organization_id).find('td').eq(3).html());
                $("#inputaddress").val($("#" + organization_id).find('td').eq(4).html());
                $("#modal_form").attr('action', '/organization/' + organization_id + '/');
                $("#error_messages").val('');
                $("#myModalLabel").text("Edit Organization");
                $('#myModal').modal('show');
            });

            });
        </script>

{% endblock javascript%}

{% block content %}
 <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Students Info
                            <small>Subheading</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Students
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                   <form class="form-inline">
                        <div class="form-group">
                            <label  for="exampleInputEmail3">First name</label>
                            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="eg: Raju">
                        </div>
                       <div class="form-group">
                            <label  for="exampleInputEmail3">Last name</label>
                            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="eg: Rastogi">
                        </div>
                        <div class="form-group">
                            <label  for="exampleInputPassword3">Roll No</label>
                            <input type="text" class="form-control" id="exampleInputPassword3" placeholder="eg: 2341">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword3">Group</label>
                            <select class="form-control" id="exampleInputPassword3">
                              <option>9A</option>
                              <option>8B</option>
                              <option>8C</option>
                              <option>2D</option>
                              <option>3F</option>
                            </select>
                         </div>
                          <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>

                <div class="row">
                            <div class="col-lg-8">
                                <ul class="nav nav-tabs">
                                    <li role="presentation" class="active"><a href="#">Students List</a></li>
                                    <li role="presentation"><a href="#">Profile</a></li>
                                    <li role="presentation"><a href="#">Messages</a></li>
                                </ul>
                            </div>
                            <div class=".col-lg-4">
                                <!--<button class="btn" id="add_student" style="margin-left: 15%;color: #FFF;background-color: #1A56A0;width: 17%;">Add Student</button>-->
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-md" style="margin-left: 15%; width:17%;" data-toggle="modal" data-target="#myModal">Add Student
                                </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Student Info</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="eg: Raju">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input_rollno" placeholder="eg: Rastogi">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Roll No</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="eg: 2589">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div><!-- Modal --></div>
                        </div>
                        <div class="row">
                        <div class="table-responsive col">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Roll No</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Class</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>/index.html</td>
                                        <td>1ssfsdsdfs5</td>
                                        <td>32.3%</td><td>32.3%</td>
                                        <td><button type="button" style="width:45%;" id="edit_btn" value='{{organization.id}}' class="btn btn-success edit_btn">Edit</button>
                                        <button type="button" style="width:45%;" id="remove_btn" value='{{organization.id}}' class="btn btn-info remove_btn">Remove</button></td>
                                    </tr>
                                    <tr>
                                        <td>/about.html</td>
                                        <td>261</td><td>32.3%</td>
                                        <td>33.3%</td>
                                        <td><button type="button" style="width:45%;" id="edit_btn" value='{{organization.id}}' class="btn btn-success edit_btn">Edit</button>
                                        <button type="button" style="width:45%;" id="remove_btn" value='{{organization.id}}' class="btn btn-info remove_btn">Remove</button></td>
                                    </tr>
                                    <tr>
                                        <td>/sale.html</td>
                                        <td>6651</td>
                                        <td>21.3%</td><td>32.3%</td>
                                        <td><button type="button" style="width:45%;" id="edit_btn" value='{{organization.id}}' class="btn btn-success edit_btn">Edit</button>
                                        <button type="button" style="width:45%;" id="remove_btn" value='{{organization.id}}' class="btn btn-info remove_btn">Remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock content %}